.container{
    width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
}

@media(max-width:1140px){
    .container{
        width: 1000px;
    }
}
@media(max-width:1005px){
    .container{
        width: 900px;
    }
}
@media(max-width:905px){
    .container{
        width: 95%;
    }
}
@media(max-width:410px){
    .container{
        width: 100%;
    }
}
